@model List<BookViewModel>

@{
    string? role = HttpContextAccessor.HttpContext.Session.GetString("Role");
    ViewData["Title"] = "Home Page";
}

<h1>Books</h1>
<hr />

@Html.Partial("_Alert")

@if(role == Role.Manager.ToString())
{
    <form asp-controller="Book" asp-action="GoToAddBook" method="post">
        <input type="submit" value="Add new book" class="btn btn-primary" />
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>Catalog</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (BookViewModel book in Model)
    {
        <tbody>
            <tr>
                <td>
                    <img src="@book.Picture" class="img-thumbnail" alt="@book.Title" style="max-width: 100px;" />
                </td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>
                    <form asp-controller="Book" asp-action="ViewBook" method="post">
                        <input type="hidden" name="Id" value="@book.Id" />
                        <input type="submit" value="View" class="btn btn-dark" /> 
                    </form>
                </td>
            </tr>
        </tbody>
    }
</table>
