@model BookViewModel

<h5>@Model.Title</h5>
<img src="@Model.Picture" class="img-thumbnail" alt="@Model.Title" style="max-width: 100px;" />
<p><strong>Genre:</strong> @Model.Genre</p>
<p><strong>Description:</strong> @Model.Description</p>
