@model DateWithABookViewModel

@{
    ViewData["Title"] = "Random date with a book";
}

<h1>Random Date With A Book</h1>
<hr />

@if (TempData["DateIndication"] != null)
{
    <div class="alert alert-info" role="alert">
        <strong>@TempData["DateIndication"]</strong>
    </div>
}


@if (TempData["RandomSuccess"] != null)
{
    <div class="alert alert-success" role="alert">
        <strong>@TempData["RandomSuccess"]</strong>
    </div>
}

@if (TempData["RandomWarning"] != null)
{
    <div class="alert alert-warning" role="alert">
        <strong>@TempData["RandomWarning"]</strong>
    </div>
}

@if (Model.FilteredBooks != null && Model.FilteredBooks.Any())
{
    foreach (BookViewModel book in Model.FilteredBooks)
    {
        <label>@book.Description</label>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-@book.Id">
            View Details
        </button>

        <div class="modal fade" id="modal-@book.Id" tabindex="-1" aria-hidden="true">
            <form asp-controller="Random" asp-action="AddBookFromRandomDate" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                            <input type="hidden" name="Id" value="@book.Id" />
                            <input type="hidden" name="Title" value="@book.Title" />
                        <h5 class="modal-title">@book.Title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                            <input type="hidden" name="Picture" value="@book.Picture" />
                        <img src="@book.Picture" alt="Book Picture" class="img-fluid mb-3" />
                            <input type="hidden" name="Author" value="@book.Author" />
                        <p><strong>Author:</strong> @book.Author</p>
                            <input type="hidden" name="Description" value="@book.Description" />
                        <p><strong>Description:</strong> @book.Description</p>
                            <input type="hidden" name="Genre" value="@book.Genre" />
                        <p><strong>Genre:</strong> @book.Genre</p>
                            <input type="hidden" name="ISBN" value="@book.ISBN" />
                        <p><strong>ISBN:</strong> @book.ISBN</p>
                    </div>
                        <button type="submit" class="btn btn-success">Add to Want To Read</button>
                </div>
            </div>
            </form>
        </div>

    }
}
else
{
    <form asp-controller="Random" asp-action="FilterBooks" method="post">
        <div class="form-group">
            <label for="RatingSelect" class="control-label">Select Rating:</label>
            <select name="ratings" class="form-select">
                <option value="">Select a Rating</option>
                @foreach (var rating in Model.Ratings)
                {
                    <option value="@rating.Value">@rating.Text</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label for="GenreSelect" class="control-label">Genre:</label>
            <select name="genre" class="form-select">
                <option value="">Select a Genre</option>
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre.Value">@genre.Text</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Filter</button>
    </form>
}