@model ShelfDetailsViewModel

@{
    ViewData["Title"] = "Shelf Details";
}

<h1>@Model.Shelf.Shelf.Name</h1>
<hr />

@Html.Partial("_Alert")

<table class="table">
    <thead>
        <tr>
            <th>Books</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (BookViewModel book in Model.Shelf.BooksOnShelf)
        {
            <tr>
                <td>
                    <img src="@book.Picture" class="img-thumbnail" alt="@book.Title" style="max-width: 100px;" />
                </td>
                <td>@book.Title</td>
                <td>

                    <form asp-controller="Book" asp-action="GetBookDetails" style="display:inline;">
                        <input type="hidden" name="Id" value="@book.Id" />
                        <input type="submit" value="View Book" class="btn btn-dark" />
                    </form>

                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-@book.Id">
                        Remove from shelf
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="Shelf" asp-action="GoBack">
    <div class="form-group text-end">
        <input type="submit" value="Go Back" class="btn btn-dark" />
    </div>
</form>

@foreach (DeleteModalViewModel modal in Model.DeleteModal)
{
    @await Html.PartialAsync("_DeleteModal", modal)
}