@using Bookly.Models
@model User
@{
    ViewData["Title"] = "View Profile";
}

<h1>Profile</h1>
<hr />

@if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger" role="alert">
        <strong>@ViewBag.ErrorMessage</strong>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="User" asp-action="ViewProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-groups">
                <img src="data:image/jpeg;base64,@Model.Picture" class="img-thumbnail" alt="@Model.Username" />
                <label>@Model.Username</label>
                <label>@Model.Email</label>
                <label>@Model.Age</label>
                <input type="" value="@Model.Password" readonly/>
                <input type="hidden" name="UserId" value="@Model.Id" />
            </div>
        </form>

        <form asp-controller="User" asp-action="EditProfile">
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
